langchain
langchain-groq
langchain-core
langchain_community
langchain-huggingface
docx2txt
pypdf
langchain_chroma
python-multipart
python-dotenv
streamlit
fastapi
sentence_transformers
uvicorn
pytesseract
opencv-python
pdf2image
PyMuPDF
Pillow
requests


# Gradio UI Requirements
gradio>=4.0.0
requests
typing-extensions